/* The side navigation menu */
.sidenav {	
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 75px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .userinfo {
	color: #cccccc;
	position: absolute;
	bottom: 100px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	display:none;
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 30px;
    margin-left: 50px;
}

.openbtn {
	display:none;
	position: absolute;
    top: 77px;	
    left: 0px;
    font-size: 30px;
    margin-left: 5px;	
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
	font-size: 0.8em;
    transition: margin-left .5s;
    padding: 55px 20px 20px 25px;
    margin-left: 250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 30px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 750px) {
	.openbtn { display: block;}
	.sidenav .closebtn { display: block;}
	.sidenav {padding-top: 30px;}
    .sidenav a {font-size: 18px;}
    #content {font-size: 0.7em;}
    	
}

@media screen and (min-width: 751px) {
	.openbtn { display: none;}
	.sidenav .closebtn { display: none;}
	.sidenav { width: 250px !important;}
	#content { margin-left: 250px !important;}		
}